name: Daily update
on:
  schedule:
    - cron: "0 6 * * *"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Update data
      env: 
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        git submodule update --recursive --remote
        pip3 install Flask
        python3 ./src/main.py > docs/index.html
        chmod +x ./src/update.sh
        ./src/update.sh
